 <!-- Plausible analytics snippet: see https://plausible.io/rconf.gitlab.io%2Fuserknowledgebase for analytics dashboard -->
<script defer data-domain="rconf.gitlab.io/userknowledgebase" src="https://plausible.io/js/plausible.js"></script>

<!-- Google Search Console snippet -->
<meta name="google-site-verification" content="ZDz9ZiSB2rVomR674NnpV8eLHXroHYUwGD15Yy4FLgk" />

<script src="book.js"></script>